
@import 'utils/vars';
@import 'utils/mixins';
@import 'utils/reset';
@import 'utils/fonts';


/* Base styles */
html { font-size: $mainFontSize; }
body { background: $mainBackground; color: $mainColor; font-weight: $mainFontWeight; font-size: $mainFontSize; font-family: $mainFontFamily; line-height: $mainLineHeight; }

#app { position: relative; width: 100%; max-width: $wideWidth; margin: 0 auto; }

h1 { font: bold 44px/1 $mainFontFamily; }
h2 { color: $DarkGrey; font: bold 36px/1.3 $mainFontFamily; }
h3, h4 { font: bold 22px/1.3 $mainFontFamily; }
h5 { font: bold 18px/1.3 $mainFontFamily; }

p { font: normal 14px/1.3 $mainFontFamily;
  a { color: $linkColor;
    &:active, &:focus { color: $linkColor; }
  }
}
b { font-weight: bold; }
i { font-style: italic; }

a { transition: all .3s ease-out;
  svg { transition: fill, stroke .3s ease-out; }
}

hr { background: $mainColor; }

.container { width: 100%; margin: 0 auto; padding: 38px 24px; background: transparent; display: grid; grid-gap: 34px 20px; grid-template-rows: auto; grid-template-columns: repeat(6, 1fr);
  .content { grid-column: 1 / 7; }

  @media screen and (min-width: $mobileWidth) {}
  @media screen and (min-width: $tabletWidth) { width: $tabletWidth; grid-gap: 34px; grid-template-columns: repeat(9, 1fr);
    .content { grid-column: 1 / 10; }
  }
  @media screen and (min-width: $laptopWidth) { width: $laptopWidth; }
  @media screen and (min-width: $desktopWidth) { width: $desktopWidth; padding: 104px 60px; grid-template-columns: repeat(12, 1fr);
    .content { grid-column: 1 / 13; }
  }
  @media screen and (min-width: $desktopWidth_md) { width: $desktopWidth_md; padding: 104px 172px; }
}

@media screen and (min-width: $desktopWidth) {
  // ::-webkit-scrollbar { width: 10px; height: 10px; }
  // ::-webkit-scrollbar-track { box-shadow: $scrollbarBoxShadow; }
  // ::-webkit-scrollbar-thumb { background: $mainColor; outline: 1px solid $DarkGrey; }
  // ::-webkit-scrollbar-corner { background: $mainColor; }
  // ::-webkit-resizer { background: $DarkGrey; }

  // body { scrollbar-width: thin; scrollbar-color: $mainColor $DarkGrey; }

  h1 { font-size: 56px; }
  h2 { color: $mainColor; font-size: 48px; }
  h3, h4 { font-size: 28px; }

  a:hover { color: $linkColor_hover; }
}


/* Form styles */
.form {
  &__line { display: flex; justify-content: space-between; }

  // &__label { color: $mainColor; font: normal 14px/1.3 $mainFontFamily; }
  // &__textarea,
  &__input { width: 100%; border: 1px solid $mainColor; background: $White; color: $mainColor; font: normal 14px/1 $mainFontFamily;
    &::placeholder { color: $DarkGrey; }

    // &.success { border-color: $successColor; }
    &.error { border-color: $errorColor; }
  }
  // &__textarea { min-height: 104px; padding: 10px 14px; resize: none; }
  &__input { height: 52px; padding: 0 14px; }

  &__button { margin-left: 9px; }

  @media screen and (min-width: $desktopWidth) {
    &__input { padding: 0 28px; }

    &__button { margin-left: 12px; }
  }
}

.button {
  a { width: 100%; height: 52px; border: 1px solid $DarkGrey; padding: 0 14px; background: $DarkGrey; color: $White; font: bold 14px/1 $mainFontFamily; text-align: center; white-space: nowrap; display: inline-flex; justify-content: center; align-items: center; }

  &--main a { height: 48px; font-weight: normal; font-size: 24px; }
  &--empty a { border-color: $mainColor; background: transparent; color: $mainColor; }

  @media screen and (min-width: $desktopWidth) {
    a { width: auto; padding: 0 60px; color: $White;
      // &:hover { border-color: $linkColor_hover; background: $linkColor_hover; }
    }

    &--main a { width: 100%; height: 92px; padding: 0 60px; }
    &--empty a { width: 100%; color: $mainColor; }
  }
}


/* Layout styles */
header { position: fixed; left: 0; top: 0; right: 0; height: 0; background: $mainColor; @include z('header');
  .container { height: 72px; padding: 0 24px;
    .header { display: flex; justify-content: flex-end; align-items: center;
      &-logo,
      &-menu { display: none; }
      &-menu-bar { display: flex; align-items: center;
        a { display: flex;
          svg { width: 44px; height: 22px; flex: none; }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) {
      // .header {}
    }
    @media screen and (min-width: $desktopWidth) { height: 82px; padding: 0 60px;
      .header { justify-content: space-between;
        &-logo { display: flex; align-items: center;
          a { display: flex;
            img { width: 165px; height: 62px; flex: none; }
          }
        }
        &-menu { display: flex;
          ul { display: flex;
            li {
              &:not(:last-child) { margin-right: 30px; }
              &:last-child a { text-decoration: underline; }

              a { color: $White; font-weight: bold;
                &:hover { color: $DarkGrey; }
              }
            }
          }
        }
        &-menu-bar { display: none; }
      }
    }
    @media screen and (min-width: $desktopWidth_md) { padding: 0 172px; }
  }

  @media screen and (min-width: $desktopWidth) { position: relative; left: auto; top: auto; right: auto; height: auto; }
}

main { @include z('main'); }

footer { background: $mainColor; @include z('footer');
  .container { padding: 18px 24px;
    .footer {
      &-menu {
        ul { display: flex; flex-direction: column; align-items: center;
          li {
            &:not(:last-child) { margin-bottom: 22px; }
            &:last-child a { text-decoration: underline; }

            a { color: $White; font-weight: bold; }
          }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) {
      // .footer {}
    }
    @media screen and (min-width: $desktopWidth) { padding: 54px 60px;
      .footer {
        &-menu {
          ul { flex-direction: row; justify-content: center; align-items: flex-start;
            li {
              &:not(:last-child) { margin: 0 144px 0 0; }

              a:hover { color: $DarkGrey; }
            }
          }
        }
      }
    }
    @media screen and (min-width: $desktopWidth_md) { padding: 54px 172px; }
  }
}


/* Module styles */
@import 'module/menu';


/* Page styles */
@import 'page/index';
@import 'page/work';
