extends include/main

block variables
  - let title = 'Elephant design'
  - let description = ''
  - let page = 'index'

block content
  section#index
    .container
      .index.content
        .index__image
          picture
            source(srcset='/image/illustration/main.jpg 1x, /image/illustration/main@2x.jpg 2x' media='(min-width: 768px)' type='image/jpeg')
            img(src='/image/illustration/main.m.jpg' srcset='/image/illustration/main.m@2x.jpg 2x' loading='eager' alt='illustration')
        .index__main
          .index__title
            h1 Elephant design
          .index__lead проектно-строительная компания
          .index__button
            .button.button--main
              a(href='#examples' data-action='scroll-to' title='Проекты') Проекты
  section#types
    .container
      .types.content
        .types__title
          h2 Виды работ
        ul.types-list
          li.types-list__item
            .types-list__title
              h4
                | Проектирование
                br
                | наружных сетей
            .types-list__text
              p Водопровод, канализация, теплоснабжение
            .types-list__button
              .button.button--empty
                a(href='#' title='Страница в разработке') Страница в разработке
          li.types-list__item
            .types-list__title
              h4 ППР
            .types-list__text
              p
                | (Проект Производства Работ)
                br
                | Все виды строительно-монтажных работ
            .types-list__button
              .button.button--empty
                a(href='work-ppr.html' title='Подробнее') Подробнее
          li.types-list__item
            .types-list__title
              h4 ППРк
            .types-list__text
              p
                | (Проект Производства Работ кранами)
                br
                | Башенные краны, монтажные краны, краны-манипуляторы, краны-трубоукладчики (все виды ПС)
            .types-list__button
              .button.button--empty
                a(href='/work-pprk.html' title='Подробнее') Подробнее
          li.types-list__item
            .types-list__title
              h4 ПОД
            .types-list__text
              p (Проект Организации Демонтажа)
            .types-list__button
              .button.button--empty
                a(href='#' title='Страница в разработке') Страница в разработке
          li.types-list__item
            .types-list__title
              h4 ПОС
            .types-list__text
              p
                | (Проект Организации Строительства)
                br
                | Все виды строительно-монтажных работ
            .types-list__button
              .button.button--empty
                a(href='/work-pos.html' title='Подробнее') Подробнее
          li.types-list__item
            .types-list__title
              h4 ТК
            .types-list__text
              p
                | (Технологическая Карта)
                br
                | Все виды строительно-монтажных работ
            .types-list__button
              .button.button--empty
                a(href='/work-tk.html' title='Подробнее') Подробнее
  #panorama
    picture
      source(srcset='/image/illustration/panorama.jpg 1x, /image/illustration/panorama@2x.jpg 2x' media='(min-width: 768px)' type='image/jpeg')
      img(src='/image/illustration/panorama.m.jpg' srcset='/image/illustration/panorama.m@2x.jpg 2x' loading='lazy' alt='illustration')
  include include/examples
  section#about
    .container
      .about.content
        .about__group
          .about__main
            .about__title
              h2 О нас
            .about__text
              p Наш союз инженеров-проектировщиков трудится на рынке проектирования с 2006 года. На счету нашей группы около трех десятков значимых инфраструктурных объектов и сотки объектов меньшей значимости. Мы проектировали разделы ППР «Атомная станция в Бангладеш», несколько инженерных объектов в порту Луги, крупный железнодорожный узел «Восточный-Находка», крупные водоводы г. Санкт-Петербурга, Тоннельные переходы г. Москвы. Мы занимаемся культурным наследием, и наши значимые объекты — «Церковь Успения в д. Мелётово с росписью 1462 г. (Псковская область, Псковский район, д. Мелётово)» и "Собор Троицкий, Троицкого Михаило-Клопского монастыря, 1569 г." (Новгородская область, д. Сельцо). На этих объектах был получен колоссальный практический опыт, применены инновационные решения, приведшие к правильному распределению этапности работ, что привело к уменьшению затрат на технику и сроки производства работ.
              p Люди, которые работают в нашей команде, действующие строители, кто-то перешёл в проектирование в 2017-2021 гг. Я работал на наружных сетях водоснабжения и канализования до 2018 г., совмещая строительство в государственных и частных структурах и свое проектирование (мне это доставляло внутренне удовлетворение, и уводило от повседневных строительных проблем).
          .about__info
            .about__image
              img(src='/image/illustration/about_1.jpg' srcset='/image/illustration/about_1@2x.jpg 2x' loading='lazy' alt='illustration')
              .about__count
                span 17 711
                br
                | проектов
            .about__image
              img(src='/image/illustration/about_2.jpg' srcset='/image/illustration/about_2@2x.jpg 2x' loading='lazy' alt='illustration')
              .about__count
                span 382
                br
                | заказчика
        .about__text
          p Отдельно хотел бы отметить своего ШЕФА Владимира Андреевича (человека с большой, правильно поняли!). В 2008 г. он отправил группу молодых инженеров предприятия на стажировку в Германию, в числе которых посчастливилось быть мне. Там уделяют большое внимание до производственной инженерной подготовке объекта. Используя при этом не только общий опыт временных рамок строительства, а и личные практические наработки своей компании. Так я наблюдал как один из работников компании по имени Пауль, считал «плевенькую» сеть в 89м на захудалой берлинской улочке. Диаметр трубы 110 мм, полиэтилен. Расчет включал: бригада, занимающаяся разработкой грунта, затраты времени на шурфовку сетей, ширину ковша экскаватора, количество мешков для мусора с затратами на загрузку и выгрузку их, а также места их складирования, ширина улицы у каждого дома по углам. Затем подготовка в цеху полиэтиленовых тройников, отводов, фланцев, задвижек, регулировочных муфт, швов сварки и затраты на каждый процесс, от сварки до обтяжки болтов. Затем движение этих людей (временные рамки задействования), затраты на их зарплату и технику. Затем на засыпку и благоустройство. Когда я пошутил с ним, сказав зачем это, давай сразу в бой? Он меня не понял, что-то выписывал пол часа, и представил мне затраты. Затем сказал, что он на это потратил всего лишь три дня вместо отведенных 8-13 (это всего лишь моя зарплата, а не зарплата всей бригады и техники-сказал он), что его ждет премия в конце месяца. И он все-таки меня удивил, кинув в конце разговора, в его фирме есть график расчета подобной улицы, и ему бы дольше задержаться просто бы не дали. Вот такая до педантичности практичность, приводящая к пониманию, а понимание приводит к экономическому процветанию предприятия.
          p Я благодарен всем своим заказчикам за бесценный опыт.
        .about__quotes
          .about__icon
            svg
              use(href='/image/icon/quotes.svg#quotes')
          q Создание высоко функциональных, сбалансированных в отношении цена-качество объектов
          .about__mission — Задача Elephant Design
  include include/cooperation
