extends include/main

block variables
  - let title = 'Elephant design'
  - let description = ''
  - let page = 'work'

block content
  section#work
    .container
      .work.content
        .work__image
          img(src='/image/illustration/ppr.jpg' srcset='/image/illustration/ppr@2x.jpg 2x' loading='eager' alt='illustration')
        .work__main
          .work__title
            h1 Разработка ППР
          .work__text
            p Проект производства работ (ППР) – это организационно-технологическая документация, разрабатываемая с целью выбора наиболее эффективной технологии строительно-монтажных работ, способствующей сокращению строительства и улучшению качества работ.
  section#info
    .container
      .info.content
        .info__main
          .info__title
            h3 ППР на устройство наружных инженерных
          .info__text
            p Проект Производства Работ на устройство наружных инженерных сетей за 3-8 дней (учитывается сложность и специфичность объекта). Проект выполняется на монтаж трубопроводов водопровода, канализации, ливневой канализации, теплотрассы, газопровода, прокладки кабелей. По желанию Заказчика выполняются методы открытой прокладки сетей, бестраншейной прокладки, горизонтально-направленного бурения (ГНБ), бурошнековое бурение, микротоннелирование, прокол (все менее актуальная технология), продавливание трубопроводов (2012-2014 проект Синопская набережная) санация трубопроводов (восстановление трубопроводов методом «чулок», нанесение ЦПС, полимерный чулок).
            p
              | По желанию Заказчика производится оценка экономических затрат и предложение оптимальных методов работы (к примеру - замена траншейного способа прокладки водопровода на бестраншейную. Включает расчет земляных масс котлованов и разметка их на плане, задействованная техника+малая механизация - машино/часы, общее время производства работ-человеко/часы).
              br
              | ППР на сети проектируется под объект с учетом проектной документации если имеется то ПОС и ПОДД. Типовые проекты производства работ исключены.
        .info__main
          .info__title
            h3 ППР на прокладку водопровода, канализации, ливневой канализации и теплосети
          .info__text
            p Что необходимо для разработки ППР
            ul
              li · стройгенплан (ПОС если имеется), генплан
              li · ПОДД (при выходе на проезжую часть)
              li · рабочий проект (план, профиль сети)
              li · график производства работ (на основании этого документа).
            p Проект производства работ на монтаж сети трубопроводов водопровода, канализации водостока и теплосети будет содержать пояснительную записку (в объеме 30-70 листов) и графическую часть (5-12 листов). Наполнение проекта ППР зависит от видов работ при прокладке трубопроводов и примерно состоит из:
            ul
              li · Пояснительная записка (описание технологий, качество и приемка работ, охрана труда)
              li · стройгенплан
              li · технология раскопки траншей с креплением
              li · забуривание шпунтового ограждения
              li · паспорт крепления траншей и котлована
              li · технология монтажа труб
              li · прокладка сетей закрытым способом (ГНБ, продавливание, микротоннель, бурошнековая проходка)
              li · устройство камер и колодцев
              li · работа крана и схемы строповки
        .info__main
          .info__title
            h3 ППР на прокладку кабеля
          .info__text
            p Исходные данные для разработки проекта производства работ на кабельные линии:
            ul
              li · стройгенплан (ПОС - если разрабатывался)
              li · ПОДД (при выходе на проезжую часть)
              li · рабочий проект (план сети)
              li · график производства работ (на основании этого документа если требует представитель надзора Заказчика, проектируется график потребности техники, движения рабочих кадров, потребности материалов).
            p В ППР на водопровод включены:
            ul
              li · Пояснительная записка.
              li · Технология работ в виде ТК.
              li · Требования качества и приемке работ (операционный контроль).
              li · Требования техники безопасности и охрана труда.
              li · Раздел по экологии в составе требований к ППР.
              li · Стройгенплан.
              li · Графики.
            p Согласовывается с заказчиком участки прокладки сети (захватки) и прочие условия производства работ.
        .info__main
          .info__title
            h3 Стоимость ППР на сети
          .info__text
            p Стоимость ППР на инженерные сети - от 21 000 руб., Ценообразование не зависит от протяженности трассы, скорее от представителей контролирующих органов.
  include include/examples
  include include/cooperation
