extends include/main

block variables
  - let title = 'Elephant design'
  - let description = ''
  - let page = 'work'

block content
  section#work
    .container
      .work.content
        .work__main.work__main--wide
          .work__title
            h1 Технологическая карта
          .work__text.work__text--short
            p это стандартизированный организационно-технологический документ, содержащий необходимые сведения и инструкции для выполнения некого технологического процесса или технического обслуживания объекта.
  section#info
    .container
      .info.content
        .info__main
          .info__title
            h3 Состав технологической карты (в соответствии МДС 12-29.2006)
          .info__text
            p Технологическая карта (далее-ТК) состоит, как правило, из следующих разделов:
            ul
              li - область применения;
              li - общие положения;
              li - организация и технология выполнения работ;
              li - требования к качеству работ;
              li - потребность в материально-технических ресурсах (это график производства работ, график потребности в чел. ресурсах, график   li поставки основных строй. материалов, график потребности техники);
              li - техника безопасности и охрана труда;
              li - технико-экономические показатели.
        .info__main
          .info__title
            h3 Область применения
          .info__text
            p Не используя терминологию СП, МДС и пр. Это виды работ, на которые разработана ТК. Примеры: наружная прокладка водопровода Ø 400 мм. ТК. Монтаж окон. ТК Монтаж мягкой кровли.
        .info__main
          .info__title
            h3 Общие положения
          .info__text
            p В технологической карте следует установить требования к качеству и способы его проверки:
            ul
              li - предшествующих работ;
              li - материалов и изделий, поступающих в производство;
              li - выполнения технологических операций и процесса в целом.
        .info__main
          .info__title
            h3 Организация и технология выполнения работ
          .info__text
            p
              | Основной раздел ТК в нем необходимо указать технологию производства работ.
              br
              | Раздел подразделяется на подразделы:
            ul
              li - подготовительные,
              li - основные
              li - заключительные работы.
            p
              | Подготовительный.
              br
              | В подразделе «Подготовительные работы» необходимо указать, какие проектные, технологические и разрешительные документы необходимы для выполнения работ, как должна быть произведена комплектация строительных материалов и изделий, как выбраны строительные машины, технологическое оборудование и оснастка, как организуются строительная площадка и рабочие места (планировка, защита деревьев и кустарников, устройство транспортных путей и стоянок, водоснабжения и канализации, энергоснабжения, установка осветительной аппаратуры, противопожарных средств, предупредительных знаков и щитов ограждений и т.п.).
            p
              | Основной.
              br
              | В подразделе «Основные работы» указывается, как технологии строительных работ подразделяются на технологические процессы, а процессы — на операции, производится их описание.
              br
              | В схемы транспортирования, складирования и хранения материалов и изделий следует включать:
            ul
              li - требования к условиям перевозки и таре, перечень рекомендуемых транспортных средств и тары с указанием их основных  li характеристик и количества перевозимых материалов и конструкций;
              li - требования к организации площадки складирования, ее размерам, типу покрытия, уклонам и к температурно-влажностному режиму хранения материалов;
            p
              | Заключительный.
              br
              | В подразделе «Заключительные работы» приводятся работы, которые выполняются после основных работ: демонтаж технологического оборудования, уборка и восстановление обустройства территории (посадка деревьев и кустарников), снятие предупредительных знаков и щитов, ограждений и т.п.
  include include/examples
  include include/cooperation
