extends include/main

block variables
  - let title = 'Elephant design'
  - let description = ''
  - let page = 'work'

block content
  section#work
    .container
      .work.content
        .work__image
          img(src='/image/illustration/pprk.jpg' srcset='/image/illustration/pprk@2x.jpg 2x' loading='eager' alt='illustration')
        .work__main
          .work__title
            h1 Разработка ППРк
          .work__text
            p Проектирование Проекта Производства Работ кранами (далее-ППРк) разной сложности: работа башенных кранов как одиночная, так и совместная, работа в стеснённых условиях, под линиями ЛЭП, подъем груза одновременно двумя кранами.
            p Мы гарантируем согласование ППРк с Ростехнадзором и прочими контролирующими органами. При возникновении замечаний к качеству проекта - устраняем за наш счет.
  section#info
    .container
      .info.content
        .info__main
          .info__title
            h3 Нужна ли разработка ППРк?
          .info__note
            p Согласно п.101 Приказа Ростехнадзора № 533 от 15.12.2020 производство работ с применением грузоподъемных механизмов должно выполняться согласно ППР, разработанным эксплуатирующей или специализированной организацией.
          .info__text
            p В современных федеральных нормах термин ППРк не применяется, на данный момент- ППР работа ПС (подъемных средств)
            p Таким образом:
            ul
              li · разработка ППРк на автомобильный кран выполняется в составе основных работ ППР (это значит если выполняется ППР на монтаж   li наружной канализации, значит в его составе есть ТК (технологическая карта применения подъемных средств на данном объекте);
              li · при использовании башенных кранов отдельный ППРк - необходим.
        .info__main
          .info__title
            h3 Требования к ППР на кран
          .info__text
            p Заказчику недостаточно ваших гарантий о выбранном кране и заверений, что «все поднимем, все смонтируем», важен ППРк (Проект производства работ кранами), в котором – произведен расчет грузо-высотных характеристик объекта, показана работа крана, обеспечены меры безопасности людей и имущества во время работ.
            p
              | По правилам ППРк подписывается лицом, обученным на проектирование ППРк.
              br
              | ППРк должен соответствовать РД 11-06-2007 и Приказу Ростехнадзора от 12 ноября 2013 г. N 533.
            p Согласно норм ППРк на работу краном необходим для:
            ul
              li · мостовых кранов (штабелеры);
              li · грузоподъемных кранов всех типов;
              li · кранов-манипуляторов;
              li · кранов-трубоукладчиков;
              li · грузовые электрических тележек, передвигающихся по надземным рельсовым путям вместе с кабиной управления;
              li · строительных подъемников и вышек;
              li · кранов-экскаваторов, предназначенных только для работы с крюком, подвешенным на канате, или электромагнитом;
            p Проект производства работ кранами не требуется для подъемных устройств:
            ul
              li · с ручным приводом, лифтов, эскалаторов, электро- и автопогрузчиков, эвакуаторов автомобилей;
              li · установленных в шахтах, на судах и иных плавучих средствах;
              li · предназначенных для работы только в исполнении, исключающем применение грузозахватных приспособлений, с навесным оборудованием (вибропогружателями, шпунтовыдергивателями, буровым оборудованием), кабин (люлек) для транспортировки людей;
              li · манипуляторов, используемые в технологических процессах.
        .info__main
          .info__title
            h3 Экспертиза и регистрация Проектов производства работ на кран
          .info__text
            p C 05.03.2013 экспертиза Проектов производства работ кранами (ППРк), регистрация и согласование в органах Ростехнадзора не требуется. За исключением случаев транспортировки людей краном.
        .info__main
          .info__title
            h3 Проект производства работ кранами – преимущество и экономия
          .info__text
            p Стоимости аренды крана зависит от грузо-высотных характеристик крана: чем мощнее кран – тем дороже его аренда. При подборе крана учитывается 2 основные характеристики: грузоподъемность и длина стрелы. Но один и тот же груз можно смонтировать краном 32 т или 25 т.
            p Каждый кран обладает несколькими кривыми грузоподъёмности, которые зависят от вылета стрелы (расстояние по горизонтали от крана до груза), длины стрелы и угла наклона.
            p Поэтому в ППРк для подбора крана следуем последовательности:
            ul
              li 1. Определяем место стоянки машины с грузом не ближе минимального радиуса крана при данном вылете стрелы;
              li 2. Расчет опасных зон и варианты их уменьшения;
              li 3. Места нахождения монтажников и их перемещения;
              li 4. Выбираем стропы, траверсы и т.д. исходя из параметров груза и монтажных проушин;
              li 5. Ориентировочно подбираем кран исходя из массы груза, высоты подъема груза и расстояния;
              li 6. Проверяем ограничения работы: коммуникации под опорами, существующие деревья, вращение башни крана, минимальные зазоры li от препятствий, расчет и периметр опасных зон, встречающиеся преграды перемещению груза. При наличии любого ограничения li переходим к п. 1;
              li 7. Размещаем кран на стройплощадке, обрисовываем его на вертикальном разрезе, максимально близко к точке монтажа;
              li 8. Проверяем возможность применения гуська, достаточно ли места для его монтажа;
              li 9. Проверяем возможность крана меньшей грузоподъёмности.
            p При выполнении всех этих пунктов всегда удается подобрать кран с минимальными грузовыми характеристиками.
  include include/examples
  include include/cooperation
