extends include/main

block variables
  - let title = 'Elephant design'
  - let description = ''
  - let page = 'work'

block content
  section#work
    .container
      .work.content
        .work__main.work__main--wide
          .work__title
            h1 Разработка ПОС
          .work__text
            p Проект организации строительства (далее-ПОС) – часть технологической документации, определяет технологию производства работ, общую продолжительность и промежуточные сроки строительства, распределение капитальных вложений материальных средств и объемов СМР, материально-технические, трудовые ресурсы, основные методы выполнения СМР.
  section#info
    .container
      .info.content
        .info__main
          .info__title
            h3 Состав ПОС
          .info__note
            p В соответствии с Постановление Правительства РФ от 16.02.2008 N 87 (ред. от 01.12.2021) «О составе разделов проектной документации и требованиях к их содержанию»:
          .info__text
            p
              b в текстовой части
            ul
              li а) характеристику района по месту расположения объекта капитального строительства и условий строительства;
              li б) оценку развитости транспортной инфраструктуры;
              li в) сведения о возможности использования местной рабочей силы при осуществлении строительства;
              li г) перечень мероприятий по привлечению для осуществления строительства квалифицированных специалистов, а также студенческих строительных отрядов, в том числе для выполнения работ вахтовым методом; (в ред. Постановления Правительства РФ от 07.07.2017 N 806)
              li д) характеристику земельного участка, предоставленного для строительства, обоснование необходимости использования для строительства земельных участков вне земельного участка, предоставляемого для строительства объекта капитального строительства;
              li е) описание особенностей проведения работ в условиях действующего предприятия, в местах расположения подземных коммуникаций, линий электропередачи и связи - для объектов производственного назначения;
              li ж) описание особенностей проведения работ в условиях стесненной городской застройки, в местах расположения подземных коммуникаций, линий электропередачи и связи - для объектов непроизводственного назначения;
              li з) обоснование принятой организационно-технологической схемы, определяющей последовательность возведения зданий и сооружений, инженерных и транспортных коммуникаций, обеспечивающей соблюдение установленных в календарном плане строительства сроков завершения строительства (его этапов);
              li и) перечень видов строительных и монтажных работ, ответственных конструкций, участков сетей инженерно-технического обеспечения, подлежащих освидетельствованию с составлением соответствующих актов приемки перед производством последующих работ и устройством последующих конструкций;
              li к) технологическую последовательность работ при возведении объектов капитального строительства или их отдельных элементов;
              li л) обоснование потребности строительства в кадрах, основных строительных машинах, механизмах, транспортных средствах, в топливе и горюче-смазочных материалах, а также в электрической энергии, паре, воде, временных зданиях и сооружениях;
              li м) обоснование размеров и оснащения площадок для складирования материалов, конструкций, оборудования, укрупненных модулей и стендов для их сборки. Решения по перемещению тяжеловесного негабаритного оборудования, укрупненных модулей и строительных конструкций;
              li н) предложения по обеспечению контроля качества строительных и монтажных работ, а также поставляемых на площадку и монтируемых оборудования, конструкций и материалов;
              li о) предложения по организации службы геодезического и лабораторного контроля;
              li п) перечень требований, которые должны быть учтены в рабочей документации, разрабатываемой на основании проектной документации, в связи с принятыми методами возведения строительных конструкций и монтажа оборудования;
              li р) обоснование потребности в жилье и социально-бытовом обслуживании персонала, участвующего в строительстве;
              li с) перечень мероприятий и проектных решений по определению технических средств и методов работы, обеспечивающих выполнение нормативных требований охраны труда;
              li
                | т) описание проектных решений и мероприятий по охране окружающей среды в период строительства;
                br
                | т(1)) описание проектных решений и мероприятий по охране объектов в период строительства;
                br
                | (пп. "т(1)" введен Постановлением Правительства РФ от 15.02.2011 N 73) т(2)) описание проектных решений и мероприятий по реализации требований, предусмотренных пунктом 8 требований по обеспечению транспортной безопасности объектов транспортной инфраструктуры по видам транспорта на этапе их проектирования и строительства, утвержденных постановлением Правительства Российской Федерации от 23 января 2016 г. N 29 "Об утверждении требований по обеспечению транспортной безопасности объектов транспортной инфраструктуры по видам транспорта на этапе их проектирования и строительства и требований по обеспечению транспортной безопасности объектов (зданий, строений, сооружений), не являющихся объектами транспортной инфраструктуры и расположенных на земельных участках, прилегающих к объектам транспортной инфраструктуры и отнесенных в соответствии с земельным законодательством Российской Федерации к охранным зонам земель транспорта, и о внесении изменений в Положение о составе разделов проектной документации и требованиях к их содержанию";
                br
                | (пп. "т(2)" введен Постановлением Правительства РФ от 21.04.2018 N 479) у) обоснование принятой продолжительности строительства объекта капитального строительства и его отдельных этапов;
              li ф) перечень мероприятий по организации мониторинга за состоянием зданий и сооружений, расположенных в непосредственной близости от строящегося объекта, земляные, строительные, монтажные и иные работы на котором могут повлиять на техническое состояние и надежность таких зданий и сооружений;
            p
              b в графической части
            ul
              li а) календарный план строительства, включая подготовительный период (сроки и последовательность строительства основных и вспомогательных зданий и сооружений, выделение этапов строительства);
              li б) строительный генеральный план подготовительного периода строительства (при необходимости) и основного периода строительства с определением мест расположения постоянных и временных зданий и сооружений, мест размещения площадок и складов временного складирования конструкций, изделий, материалов и оборудования, мест установки стационарных кранов и путей перемещения кранов большой грузоподъемности, инженерных сетей и источников обеспечения строительной площадки водой, электроэнергией, связью, а также трасс сетей с указанием точек их подключения и мест расположения знаков закрепления разбивочных осей.
  include include/examples
  include include/cooperation
