
/* Gotham Pro */
@font-face {
  font-family: 'Gotham Pro';
  src: local('Gotham Pro'), local('GothamPro'),
    url('../font/GothamPro/GothamPro.woff2') format('woff2'),
    url('../font/GothamPro/GothamPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro';
  src: local('Gotham Pro Italic'), local('GothamPro-Italic'),
    url('../font/GothamPro/GothamPro-Italic.woff2') format('woff2'),
    url('../font/GothamPro/GothamPro-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro';
  src: local('Gotham Pro Bold'), local('GothamPro-Bold'),
    url('../font/GothamPro/GothamPro-Bold.woff2') format('woff2'),
    url('../font/GothamPro/GothamPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro';
  src: local('Gotham Pro Bold Italic'), local('GothamPro-BoldItalic'),
    url('../font/GothamPro/GothamPro-BoldItalic.woff2') format('woff2'),
    url('../font/GothamPro/GothamPro-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
