
/* Reset settings */
*, ::before, ::after { box-sizing: border-box; margin: 0; padding: 0; }

html { width: 100vw; height: 100%; overflow-x: hidden; }
body { width: 100%; min-height: 100vh; text-align: left; text-rendering: optimizeLegibility; scroll-behavior: smooth; overflow: hidden;

  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased;
}

header, main, footer, section, form { position: relative; width: 100%; }
section, article, aside, nav, picture { display: block; }

picture { width: 100%; height: auto; }
img { max-width: 100%; height: auto; }
svg { fill: currentColor; }

ul, ol { list-style: none; }

blockquote, q { quotes: none;
  &::before, &::after { content: ''; }
}

a { text-decoration: none; text-decoration-skip-ink: auto;
  &:active, &:focus { outline: none; }
}

hr { height: 1px; border: none; }

fieldset, textarea, input, select, button { border: none; font: inherit; appearance: none;
  &:active, &:focus { outline: none; }
}
button { cursor: pointer; }

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: .01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: .01ms !important;
    scroll-behavior: auto !important;
  }
}
