
/* Brand colors */
$Green                     : #008000;
$Red                       : #ff0000;

$Black                     : #282828;
$Grey                      : #515151;
$DarkGrey                  : #9aa5a8;
$LightGrey                 : #dfdfdf;
$White                     : #ffffff;

/* Font options */
$mainFontWeight            : normal;
$mainFontSize              : 14px;
$mainFontFamily            : 'Gotham Pro', sans-serif;
$mainLineHeight            : 1.3;

/* Screen resolution */
$mobileWidth               : 320px;
// $mobileWidth_md            : 544px;
$tabletWidth               : 768px;
$laptopWidth               : 992px;
$desktopWidth              : 1216px;
$desktopWidth_md           : 1440px;
$desktopWidth_lg           : 1920px;
$wideWidth                 : 2560px;

/* Primary colors */
$mainColor                 : $Black;
$mainBackground            : $White;
$linkColor                 : $DarkGrey;
$linkColor_hover           : $DarkGrey;

$successColor              : $Green;
$errorColor                : $Red;

/* Shadows */
$scrollbarBoxShadow        : inset 0 0 1px rgba($Black, .6);
