
.menu { position: fixed; left: 0; top: 0; right: 0; width: 100vw; height: auto; background: $mainColor; overflow: auto; display: none; @include z('menu');

  /* Однопальцевый скролл для iPad */
  -webkit-overflow-scrolling: touch;

  /* Фикс для странностей в iPad */
  > * { -webkit-transform: translateZ(0px); transform: translateZ(0px); }

  &--open { display: block; }

  &__close { position: absolute; top: 25px; right: 32.5px; flex: none; @include z('close');
    svg { width: 27px; height: 22px; fill: $White; }
  }

  .container {
    .main { display: flex; flex-direction: column;
      &-logo { margin-bottom: 48px; display: flex; justify-content: center; align-items: center;
        a { display: flex;
          img { width: 165px; height: 62px; flex: none; }
        }
      }
      &-menu { display: flex;
        ul { width: 100%; display: flex; flex-direction: column; align-items: center;
          li {
            &:not(:last-child) { margin-bottom: 28px; }

            a { color: $White; font-weight: bold; }
          }
        }
      }
    }
  }
}

@media screen and (min-width: $desktopWidth) {
  .menu {
    &--open { display: none; }
  }
}
