section#cooperation
  .container
    .cooperation.content
      .cooperation__image
        picture
          source(srcset='/image/illustration/cooperation.jpg 1x, /image/illustration/cooperation@2x.jpg 2x' media='(min-width: 768px)' type='image/jpeg')
          img(src='/image/illustration/cooperation.m.jpg' srcset='/image/illustration/cooperation.m@2x.jpg 2x' loading='lazy' alt='illustration')
      .cooperation__main
        .cooperation__title
          h2 Мы готовы к сотрудничеству!
        .cooperation__info
          p Свяжитесь с нами любым удобным для Вас способом:
          p
            | Эл.почта: 
            a(href='mailto:dhon-velogon@yandex.ru' title='Написать') dhon-velogon@yandex.ru
          p
            | Whatsapp: 
            a(href='//wa.me/79110857803?text=' target='_blank' title='Написать в Whatsapp') +7 (911) 085-78-03
          p Или оставьте свои контакты:
        form.form.cooperation__form(name='cooperation' action='/' autocomplete='off' accept-charset='utf-8')
          fieldset.form__line
            input.form__input(type='text' name='contact' required placeholder='Email, номер телефона' value='' title='Введите ваш email или номер телефона')
            .form__button
              .button
                a(href='#' data-action='send-form' title='Отправить') Отправить
