section#examples
  .container
    .examples.content
      .examples__title
        h2 Примеры работ
      ul.examples-list
        li.examples-list__item
          .examples-list__title
            h5 Газоснабжение котельной
          .examples-list__button
            .button.button--empty
              a(href='//disk.yandex.ru/d/im-hmL6vvv4pJA' target='_blank' title='Скачать') Скачать
        li.examples-list__item
          .examples-list__title
            h5 ППР на монтаж М/К при строительстве крытого спортивного комплекса
          .examples-list__button
            .button.button--empty
              a(href='//disk.yandex.ru/d/Nl-oNNUsdq3I4w' target='_blank' title='Скачать') Скачать
        li.examples-list__item
          .examples-list__title
            h5 ППР по строительству наружного водопровода и канализации
          .examples-list__button
            .button.button--empty
              a(href='//disk.yandex.ru/d/hQrep6TXH9VTPw' target='_blank' title='Скачать') Скачать
        li.examples-list__item
          .examples-list__title
            h5 ППР на отделочные работы
          .examples-list__button
            .button.button--empty
              a(href='//disk.yandex.ru/d/_CGngI0p0ElAHg' target='_blank' title='Скачать') Скачать
        li.examples-list__item
          .examples-list__title
            h5 ППР на прокладку тепловых сетей
          .examples-list__button
            .button.button--empty
              a(href='//disk.yandex.ru/d/2W4JzntyC6eyng' target='_blank' title='Скачать') Скачать
        li.examples-list__item
          .examples-list__title
            h5 ППР на отопление и вентиляцию здания
          .examples-list__button
            .button.button--empty
              a(href='//disk.yandex.ru/d/NLP-QaJulSAL0g' target='_blank' title='Скачать') Скачать
        li.examples-list__item
          .examples-list__title
            h5 ППР на устройство катлована
          .examples-list__button
            .button.button--empty
              a(href='//disk.yandex.ru/d/yUWo2LxevLGazA' target='_blank' title='Скачать') Скачать
        li.examples-list__item
          .examples-list__title
            h5 ППР на устройство свайного основания
          .examples-list__button
            .button.button--empty
              a(href='//disk.yandex.ru/d/teeKqCCJDRol5w' target='_blank' title='Скачать') Скачать
