footer
  .container
    .footer.content
      nav.footer-menu
        ul
          li
            a(href='#examples' data-action='scroll-to' title='Скачать проекты') Скачать проекты
          li
            a(href='tel:+79110857803' title='Позвонить') +79110857803
          li
            a(href='mailto:dhon-velogon@yandex.ru' title='Написать') dhon-velogon@yandex.ru
