-
  let menu = [
    { url: '/#types', title: 'Виды работ' },
    { url: '#examples', title: 'Скачать проекты' },
    { url: '/#about', title: 'О нас' },
    { url: '#cooperation', title: 'Оставить заявку' }
  ]

header
  .container
    .header.content
      .header-logo
        a(href='/' title='Elephant design')
          img(src='/image/logo.svg' alt='Elephant design')
      nav.header-menu
        ul
          each link in menu
            li
              a(href=link.url data-action='scroll-to' title=link.title) #{ link.title }
          li
            a(href='tel:+79110857803' title='Позвонить') +79110857803
          li
            a(href='mailto:dhon-velogon@yandex.ru' title='Написать') dhon-velogon@yandex.ru
      .header-menu-bar
        a(href='#' data-action='open-menu' title='Открыть меню')
          svg
            use(href='/image/icon/menu.svg#menu')
