block variables

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title #{ title }

    // meta
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content=description)
    meta(name='author' content='Ilya Lynd ilya.lynd@gmail.com')
    meta(name='theme-color' content='#f4f4f6')

    // icon & css
    link(href='/image/favicon-32.png' rel='icon' sizes='32x32')
    link(href='/image/favicon-128.png' rel='icon' sizes='128x128')
    link(href='/image/favicon-180.png' rel='apple-touch-icon' sizes='180x180')
    link(href='/image/favicon-192.png' rel='icon' sizes='192x192')
    link(href='/manifest.json' rel='manifest')
  body
    #app
      include header
      include menu
      main
        block content
      include footer

    // js
