-
  let menu = [
    { url: '/#types', title: 'Виды работ' },
    { url: '#examples', title: 'Скачать проекты' },
    { url: '/#about', title: 'О нас' },
    { url: '#cooperation', title: 'Оставить заявку' }
  ]

// Menu
.menu
  a.menu__close(href='#' data-action='close-menu' title='Закрыть меню')
    svg
      use(href='/image/icon/close.svg#close')
  .container
    .main.content
      .main-logo
        a(href='/' data-action='close-menu' title='Elephant design')
          img(src='/image/logo.svg' alt='Elephant design')
      nav.main-menu
        ul
          each link in menu
            li
              a(href=link.url data-action='scroll-to' title=link.title) #{ link.title }
          li
            a(href='tel:+79110857803' title='Позвонить') +79110857803
          li
            a(href='mailto:dhon-velogon@yandex.ru' title='Написать') dhon-velogon@yandex.ru
// Menu end
