
/* Index page */
#index { overflow: hidden;
  .container {
    .index { display: flex; flex-direction: column;
      &__image { margin: -38px -24px 0; display: flex;
        picture { display: flex; }
        img { width: 100%; flex: none; }
      }
      &__main { margin-top: 34px; }
      &__title { margin-bottom: 18px; }
      &__button { margin-top: 26px; }
    }

    @media screen and (min-width: $tabletWidth) {
      // .index {}
    }
    @media screen and (min-width: $desktopWidth) {
      .index { height: 521px; flex-direction: row;
        &__image { position: absolute; left: calc(50% - 168px); top: 0; width: calc(50% + 168px); margin: 0; z-index: -1; }
        &__main { width: 348px; margin: 0 34px 0 0; display: flex; flex-direction: column; justify-content: center; }
        &__title { margin-bottom: 30px; }
        &__lead { font-size: 24px; }
        &__button { margin-top: 48px; }
      }
    }
  }
}

#types {
  .container { padding-bottom: 74px;
    .types {
      &__title { margin-bottom: 36px; }

      &-list { display: flex; flex-direction: column;
        &__item:not(:last-child) { margin-bottom: 78px; }
        &__title { margin-bottom: 24px;
          h4 { text-align: center; }
        }
        &__text p { text-align: center; }
        &__button { margin-top: 24px; }
      }
    }

    @media screen and (min-width: $tabletWidth) {
      // .types {}
    }
    @media screen and (min-width: $desktopWidth) { padding-bottom: 104px;
      .types {
        &__title { margin-bottom: 38px; }

        &-list { flex-direction: row; flex-wrap: wrap;
          &__item { width: calc((100% - 68px) / 3); display: flex; flex-direction: column;
            &:not(:last-child) { margin: 0; }
            &:not(:nth-child(3n)) { margin-right: 34px; }
            &:nth-child(n + 4) { margin-top: 78px; }
          }
          &__title { margin-bottom: 18px; }
          &__text { flex-grow: 1; }
          &__button { margin-top: 32px; }
        }
      }
    }
  }
}

#panorama {
  picture { display: flex; }
  img { width: 100%; flex: none; }
}

#examples { background: $LightGrey;
  .container { padding-top: 74px;
    .examples {
      &__title { margin-bottom: 34px; }

      &-list { display: flex; flex-direction: column;
        &__item:not(:last-child) { margin-bottom: 68px; }
        &__button { margin-top: 28px; }
      }
    }

    @media screen and (min-width: $tabletWidth) {
      // .examples {}
    }
    @media screen and (min-width: $desktopWidth) { padding-top: 148px; padding-bottom: 148px;
      .examples {
        &__title { margin-bottom: 78px; }

        &-list { flex-direction: row; flex-wrap: wrap;
          &__item { width: calc((100% - 112px) / 4); display: flex; flex-direction: column;
            &:not(:last-child) { margin: 0; }
            &:not(:nth-child(4n)) { margin-right: 34px; }
            &:nth-child(n + 5) { margin-top: 68px; }
          }
          &__title { flex-grow: 1;
            h5 { text-align: center; }
          }
          &__button { margin-top: 32px; }
        }
      }
    }
  }
}

#about {
  .container { padding-top: 74px;
    .about {
      &__title { margin-bottom: 8px; }
      &__group { margin-bottom: 36px; display: flex; flex-direction: column; }
      &__main { margin-bottom: 36px; }
      &__text p { font-size: 12px;
        &:not(:first-child) { margin-top: 18px; }
      }
      &__info { display: flex; justify-content: space-between; }
      &__image { position: relative; width: calc((100% - 20px) / 2);
        &:first-child { margin-right: 20px; }

        img { width: 100%; }
      }
      &__count { position: absolute; left: 9px; bottom: 8px; color: $White; font-weight: bold; font-size: 18px;
        span { font-size: 37px; line-height: 1; }
      }
      &__quotes { margin-top: 74px; display: flex; flex-direction: column; align-items: center;
        q { font-size: 16px; text-align: center; }
      }
      &__icon { margin-bottom: 28px; display: flex;
        svg { width: 23px; height: 16px; flex: none; }
      }
      &__mission { margin-top: 20px; font-weight: bold; text-align: center; }
    }

    @media screen and (min-width: $tabletWidth) {
      // .about {}
    }
    @media screen and (min-width: $desktopWidth) { padding-top: 104px;
      .about {
        &__title { margin-bottom: 20px; }
        &__group { margin-bottom: 20px; flex-direction: row-reverse; }
        &__main { width: calc((100% - 34px) / 2); margin: 0 0 0 34px; }
        &__text p { font-size: 14px; }
        &__info { width: calc((100% - 34px) / 2); }
        &__image { width: calc((100% - 34px) / 2);
          &:first-child { margin-right: 34px;
            .about__count { color: $Grey; }
          }
        }
        &__count { left: 16px; bottom: 15px; font-size: 28px; line-height: 1;
          span { font-size: 48px; }
        }
        &__quotes { margin-top: 104px;
          q { width: 580px; font-size: 28px; }
        }
        &__icon { margin-bottom: 44px; }
        &__mission { margin-top: 22px; }
      }
    }
  }
}

#cooperation { overflow: hidden;
  .container {
    .cooperation { display: flex; flex-direction: column;
      &__image { margin: 0 -24px; display: flex;
        picture { display: flex; }
        img { width: 100%; flex: none; }
      }
      &__main { margin-top: 20px; }
      &__title { margin-bottom: 26px; }
      &__info { margin-bottom: 12px;
        p { font-size: 16px;
          &:not(:last-child) { margin-bottom: 22px; }

          a { color: $DarkGrey; text-decoration: underline; }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) {
      // .cooperation {}
    }
    @media screen and (min-width: $desktopWidth) { padding-top: 0; padding-bottom: 0;
      .cooperation { height: 643px; flex-direction: row; justify-content: flex-end; align-items: center;
        &__image { position: absolute; left: 0; top: 0; width: calc(50% - 30px); margin: 0; z-index: -1; }
        &__main { width: calc((100% - 60px) / 2); margin: 0 0 0 60px; }
        &__title { margin-bottom: 34px; }
        &__info { margin-bottom: 18px;
          p { font-size: 28px;
            &:not(:last-child) { margin-bottom: 26px; }
          }
        }
      }
    }
  }
}
