
/* Work page */
#work {
  .container {
    .work { display: flex; flex-direction: column;
      &__image { margin: 29px -24px 0; display: flex;
        picture { display: flex; }
        img { width: 100%; flex: none; }
      }
      &__main { margin-top: 14px;
        &--wide { width: 100%; margin-top: 42px; }
      }
      &__title { margin-bottom: 14px;
        h1 { color: $DarkGrey; font-size: 34px; }
      }
      &__text p:not(:first-child) { margin-top: 18px; }
    }

    @media screen and (min-width: $tabletWidth) {
      // .work {}
    }
    @media screen and (min-width: $desktopWidth) { padding-top: 80px; padding-bottom: 40px;
      .work { flex-direction: row-reverse;
        &__image { width: calc(100% - 474px); margin: 0; }
        &__main { width: 440px; margin: 0 34px 0 0; display: flex; flex-direction: column; justify-content: center;
          &--wide { width: 100%; margin: 20px 0 0 0; }
        }
        &__title { margin-bottom: 22px;
          h1 { color: $mainColor; font-size: 48px; }
        }
        &__text {
          &--short { width: 660px; }
        }
      }
    }
  }
}

#info {
  .container { padding-top: 22px; padding-bottom: 22px;
    .info {
      &__main:not(:first-child) { margin-top: 60px; }
      &__title { margin-bottom: 14px; }
      &__note { position: relative; margin: 0 0 20px 24px; padding: 14px 0;
        &::before { @include pseudo; left: -24px; top: 0; width: 10px; height: 100%; background: $DarkGrey; }
      }
      &__text p:not(:first-child) { margin-top: 18px; }
    }

    @media screen and (min-width: $tabletWidth) {
      // .info {}
    }
    @media screen and (min-width: $desktopWidth) { padding-top: 40px; padding-bottom: 80px;
      .info {
        &__main:not(:first-child) { margin-top: 80px; }
        &__title { margin-bottom: 22px; }
        &__note { width: 600px; margin: 0 0 34px 60px; padding: 22px 0;
          &::before { left: -60px; width: 16px; }
        }
      }
    }
  }
}
